In [1]:
import pandas as pd

In [15]:
df_petal=pd.read_csv('IRIS.csv')

#1
df_petal.head(10)
print(df_petal.shape,df_petal.dtypes)

df_petal.describe()

#2

df_petal[(df_petal['petal_length']>4.5) & (df_petal['species']=='Iris-virginica')]

#3
df_petal.groupby('species').agg(
    avg_length=('sepal_length','mean'),
    max_width=('petal_width','max'),
    standard_dev=('sepal_width','std')
)

df_petal=df_petal.assign(petal_ratio=df_petal['petal_length']/df_petal['petal_width'])

df_petal.groupby('species')['petal_ratio'].mean()

(150, 5) sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species             str
dtype: object

species
Iris-setosa        7.078000
Iris-versicolor    3.242837
Iris-virginica     2.780662
Name: petal_ratio, dtype: float64

In [20]:
#1
df_tit=pd.read_csv('Titanic-Dataset.csv')
df_tit.columns

#2
df_tit[(df_tit['Sex']=='female') & (df_tit['Fare']>30)]

#3
df_tit.groupby('Pclass').agg(
    Survial_rate=('Survived',lambda x:x.mean()*100),
    Average_Fare=('Fare','mean'),
    Average_Age=('Age','mean')
)

        Survial_rate  Average_Fare  Average_Age
Pclass
1          62.962963     84.154687    38.233441
2          47.282609     20.662183    29.877630
3          24.236253     13.675550    25.140620